{% extends "admin/base_site.html" %}
{% load i18n %}

{% block content %}
<form method="post">
  {% csrf_token %}
  {{ form.non_field_errors }}
  {{ form.as_p }}

  <p>Будет заморожено абонементов: {{ subscriptions|length }}</p>
  {% for subscription in subscriptions %}
    <input type="hidden" name="{{ action_checkbox_name }}" value="{{ subscription.pk }}">
  {% endfor %}
  <input type="hidden" name="action" value="freeze_subscriptions">

  <button type="submit" name="apply" value="1" class="button default">Заморозить</button>
  <a href="{% url 'admin:billing_subscription_changelist' %}" class="button">Отмена</a>
</form>
{% endblock %}